*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*https://elzerowebschool.github.io/HTML_And_CSS_Template_One/#services*/
body{
    font-family: "work sans", sans-serif;
}
:root {
    --maim-color:#10cab7;
    --secondary-color:#2c4755;
}


.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.special-heading{
    color:#ebeced ;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading +p{
    color: #797979;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}
@media (max-width: 767px) {
.special-heading{
    font-size: 60px;
}
.special-heading +p{
    margin-top: -20px;
}
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}


@media (min-width: 990px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/*start header*/
.header{
    padding:20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:70px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;

}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.5s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100%+15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}

.header .links ul:before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;   
}
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.landing{
    background-image: url(../images/adventure-alpine-background-355770.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    min-width: 100%;
}
.intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var( --maim-color);
}
.intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    text-align: center;

}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
   padding: 20px;
   text-align: center;
}
.features .feat i{
    color: var(--maim-color);
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
.services .services-content .srv{
    flex-direction: column;
    text-align: center;
}


}
.services .services-content .srv i{
    color: var(--maim-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}

.services .services-content .srv h3{
    margin: 0 0 20px;
}
.services .services-content .srv p{
    color: #444;
    font-weight: 300;
    line-height: 1.5;
}
.services .services-content .images img{
    width: 260px;
}


.services .services-content .images {
    text-align: center;
    position: relative;
}

.services .services-content .images::before{
    content: "";
    background-color: var(--secondary-color);
    width: 90px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media (max-width :1199px) {
    .image-column{
        display: none;
    }
}
    
.protfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.protfolio .protfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:30px;
    margin-top: 80px;
}
.protfolio .protfolio-content .card{
    background-color: aliceblue;
}
.protfolio .protfolio-content .card img{
    max-width: 100%;
}
.protfolio .protfolio-content .card .info{
    padding: 20px;
}

.protfolio .protfolio-content .card .info h3{
    margin: 0;
}
.protfolio .protfolio-content .card .info p{
    color: #777;
    margin-bottom: 0;
    line-height: 1.6;
}

.about{
    padding-top: 60px;
    padding-bottom: calc(60px +60px);
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width :991px) {
    .about .about-content{
        text-align: center;
        flex-direction: column;
    }
}
.about .about-content .image{
    width: 250px;
    height: 375px;
    position: relative;

}
@media (max-width : 991px) {
.about .about-content .image{
    margin: 0 auto 60px;
}

}
.about .about-content .image img{
    width: 100%;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content:"";
    position: absolute;
    top: -40px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--maim-color);
    border-bottom: 80px solid var(--maim-color) ;
    z-index: -1;
    right: -150px;

}
@media (max-width : 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
       display: none;
     }      
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    border-color: var(--maim-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type{
    color: #777;
    line-height: 2;
}

.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.contact .info .link {
    color: var(--maim-color);
    text-decoration: none;
    display: block;
    font-size: 40px;
    font-weight: 800;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    color: var(--secondary-color);
    margin-left: 10px;
}
@media (max-width : 767px) {
.contact .info .label,
.contact .info .link {
    font-size: 20px;
}
    
}
.footer{
    color: white;
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--maim-color);
}